#heading {
    h1 {
        color: #a5beb5;

    }

    p {
        color: $orange;
    }

    hr {
        width: 50%;
        color: $orange;
        border-top: 3px solid $orange;
    }

    .banner {
        background-image: url(/images/burgas.jpg);
        min-height: 100vh;
        background-repeat: no-repeat;
        width: 100%;

    }
}